<form action='/patients/new' method='post'>
  Name:
  <input id='name' name='name' type='text'>
  Brithdate:
  <input id='birthdate' name='birthdate' type='date'>
  <button type='submit'>Add Patient</button>
</form>
