<form action='/doctor/new' method='post'>
  Name:<input id='name' name='name' type='text'>
  Specialty:<select id='specialty' name='specialty'>
    <option value ='1'>Family Medicine</option>
  </select>
  <button type='submit'>Add Doctor</button>
</form>
